body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    -webkit-user-select: none;
}


table {
    border-collapse: collapse;
    margin: 0 20px;
    font-size: 5px;
}

td {
    border: 1px solid white;
    padding: 5px;
    text-align: center;
    width: 30px;
    height: 30px;

}

.hidden {
    display: none;
}

.hidden_id {
    color: transparent;
}

.battlefield {
    display: flex;
    justify-content: center;
    align-items: center;
}

#out {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Comic Sans MS", serif;
    font-size: 25px;
}


.USSR {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NATO {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img_USSR {
    display: none;
    width: 200px;
    margin-bottom: 10px;
}

#img_NATO {
    display: none;
    width: 200px;
    margin-bottom: 10px;
}

#arrow {
    width: 128px;
    height: 128px;
    display:none;
    margin:auto;
}

#arrow {
    width: 128px;
    height: 128px;
    display:none;
    margin:auto;
}
