body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    -webkit-user-select: none;
}

table {
    border-collapse: collapse;
    margin: 0 20px;
    font-size: 5px;
}

td {
    border: 1px solid white;
    padding: 5px;
    text-align: center;
    width: 30px;
    height: 30px;

}

.hidden_id {
    color: transparent;
}

#out {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Comic Sans MS", serif;
    font-size: 25px;
}